@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,500&display=swap');
/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
/* font-family: 'Fraunces', serif;  */

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin-top: 10%;
    background-color: hsl(30, 38%, 92%);
    width: 1440px;
}

section{
    font-family: 'Montserrat', sans-serif;
    width: 70vw;
    height: 500px;
    align-items:center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}

.corpo{
    width: 700px;
    position: relative;
}

.pic{
    
    max-width: 30px;
    height:30px;
}

.perfumpic{
    height: 500px;

}

h1{
    font-family: 'Fraunces', serif;
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 30px;
}

h2{
    color: rgb(116, 116, 116);
    letter-spacing: .2em;
    font-weight: normal;
    margin-bottom: 10px;
}

.text{

    width: 50%;
    height: 400px;
    margin-left: 50%;
    padding: 5px;

}


footer{
    padding: 3px;
    text-align: center;
    
}

.cartBut{
    color: white;
    font-weight: bolder;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 70%;
    margin-left: 6%;
    
}

.cartBut:active{
    background-color: hsl(158, 36%, 50%);
}

.price{
    display: inline-block;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    padding: 3px;
    font-size: 30px;
    
}

.discount{
    display: inline-block;
    margin-left: 0px;
    text-decoration: line-through;
    color: rgb(116, 116, 116);
    font-size: normal;
    font-weight: lighter;
   
}

p{
    color: rgb(116, 116, 116);
    font-size: small;
    letter-spacing: .2em;
    line-height: 20px;
    margin-bottom: 30px;

}

.value{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

